
body {
    text-align: center;
}
.brd{
    border:double black;
    border-style:4px double black;
    padding:10px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN1ISG3QRcQx8gU4oIrfwbdibnWIg7BbuC42lkqIIT4xMMfWbHfQ);
}

.header {
    max-width: 1100px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 6px;
    overflow: hidden;
    background-color: white;
    width: 99%;
    text-align: center;
}

li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline;
}

.nav-item {
    display: inline;
}
