
body {
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;

}
.brd{
    border:double black;
    border-style:4px double black;
    padding:10px;
    background-image: url("http://pattern4site.ru/images/priroda/_thumb/4-fon-dlya-sayta.jpg");
}

.header {
    max-width: 1100px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 6px;
    overflow: hidden;
    background-color: #9bf441;
    width: 99%;
    text-align: center;
}

li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline;
}
li::before {
     content: ""; 
   }
   li {
     list-style: none; 
   }
.nav-item {
    display: inline;
}
p {
   background-color: #9bf441; 
}
events{
    display:inline-block;
}
.carousel-list {    
    list-style: none;
}
 
.carousel-element {
    display: inline;
    margin-right: 25px;
    float: left;
}
 
.carousel-element img {
    max-width: 100px;
}
.carousel-list {    
    list-style: none;
    width: 10000px;
    padding: 0px;
    position: relative;
}
.carousel-hider {
    width: 945px;
    overflow: hidden;
    float: left;
}
.carousel-element {
    display: block;
    margin-right: 25px;
    float: left;
}
.carousel-arrow-left, .carousel-arrow-right {
    float: left;
    display: block;
    border: 1px solid grey;
    background-color: lightgrey;
    padding: 5px;
    margin-top: 50px;
}
.carousel-arrow-left:hover, .carousel-arrow-right:hover {
    cursor: pointer;
    background-color: grey;
}
 
.carousel-arrow-left {
    margin-right: 25px;
}
 
.carousel-arrow-right {
    margin-left: 25px;
}
